services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lmcode-simpleschedule-app
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: simpleschedule
      DB_USER: root
      DB_PASS: root
      APP_TIMEZONE: Europe/Paris
    depends_on:
      - db

  db:
    image: mysql:8.4
    container_name: lmcode-simpleschedule-db
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: simpleschedule
      MYSQL_ROOT_HOST: '%'
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
